@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #492540;
    color: #f0f0f0;
    font-family: 'Jetbrains Mono', monospace;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content: end;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.nav-item {
    list-style-type: none;
    margin: 1em;
}

.nav-item:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #c03546;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
    margin: 0 0 8px 0;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 8px 0;
}

p.bio {
    line-height: 1.5em;
    width: 50%;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    p.bio {
      width: 100%;
    }
}

.social {
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.social ul {
    display: contents;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social img {
    filter: brightness(0) invert(1);
    width: 48px;
    margin: 0 16px 0 0;
}

.button {
    border: 3px solid white;
    padding: 8px;
}

.button:hover {
    background-color: #c03546;
}