@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  border-top: 3px solid #fff;
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #070808;
  color: #fff;
  font-family: "Inconsolata", monospace;
  font-size: 100%;
}

p,
.socials__wrapper span {
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #787e87;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s ease;
}

#location {
  color: #787e87;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bio {
  margin: 2rem 0 1rem;
}

.bio a {
  border-bottom: 3px solid #787e87;
}

.bio a:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.socials__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials__wrapper span {
  color: #787e87;
}

.socials__wrapper a:hover,
.projects__list a:hover {
  color: #787e87;
}

.projects__title {
  margin-top: 3rem;
}

.projects__list li {
  margin: 1rem 0;
  list-style-type: none;
  font-size: 1.25rem;
}

footer {
  font-size: smaller;
  position: fixed;
  padding: 0.5rem;
  inset: auto 0 0 0;
  width: 100%;
  transition: background-color 0.5s ease;
}

footer,
#pgp-key {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer:hover {
  background-color: #000;
}

footer a {
  color: white;
  font-size: small;
}

@media (max-width: 820px) {
  body {
    height: auto;
    padding: 10%;
    overflow: auto;
  }

  footer {
    position: absolute;
  }

  #pgp-fingerprint {
    display: none;
  }
}
