---
import type { CollectionEntry } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Companies
const companies: Array<{ title: string; href?: string }> = [
	{
		title: "Adrili (🇨🇮)",
		href: "https://www.adrili.com/",
	},
	{
		title: "Agence Foncière Rurale (🇨🇮)",
		href: "https://afor.ci/",
	},
	{
		title: "Ares Music Group (🇺🇸)",
		href: "https://aresmusicgroup.com/",
	},
	{
		title: "Avora Now (🇬🇧)",
	},
	{
		title: "BNETD (🇨🇮)",
		href: "https://www.bnetd.ci.",
	},
	{
		title: "Bunt (🇬🇧)",
		href: "https://www.buntlabs.com/",
	},
	{
		title: "Côte d'Ivoire Énergies (🇨🇮)",
		href: "https://www.cinergies.ci/",
	},
	{
		title: "Laguna Dental Arts (🇺🇸)",
		href: "https://lagunadentalarts.com/",
	},
];
---

<PageLayout
	meta={{
		title: "Alex N'Guessan",
		description: "AI Engineer, Web Developer & Tech Entrepreneur based in Abidjan.",
		titleTemplate: false,
	}}
>
	<section>
		<p class="mb-6 leading-loose">
			AI Engineer, Web Developer & Tech Entrepreneur. Passionate about automating stuff and building
			blazing-fast web applications. I run, read, and break things on GitHub.
		</p>
		<SocialList />
	</section>
	<section class="mt-16">
		<h2 class="title text-accent mb-1 text-xl"><a href="/posts/">Recent writing</a></h2>
		<p class="mb-6">I publish whenever I can (or more precisely, whenever I feel brave enough)</p>
		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title text-accent mb-1 text-xl">Some companies I've worked with</h2>
		<p class="leading-relaxed">
			{
				companies.map(({ href, title }, idx) => (
					<>
						<a href={href} target="_blank" rel="noopener noreferrer" class="inline-block">
							{title}
						</a>
						{idx < companies.length - 1 && <span> &middot; </span>}
					</>
				))
			}
		</p>
	</section>
</PageLayout>
