---
import { Icon } from "astro-icon/components";

const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		name: "mdi:strava",
		friendlyName: "Strava",
		link: "https://www.strava.com/athletes/marcaureln/",
	},
	{
		name: "mdi:github-face",
		friendlyName: "Github",
		link: "https://github.com/marcaureln/",
	},
	{
		name: "ph:x-logo",
		friendlyName: "Twitter",
		link: "https://twitter.com/marcaureln_",
	},
	{
		name: "ph:envelope",
		friendlyName: "Email",
		link: "mailto:alexmarcaureln@gmail.com",
	},
];
---

<div class="flex flex-wrap gap-x-2">
	<ul class="flex flex-1 items-center gap-x-3 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-7 w-7" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
